{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <h1>Modification du contact </h1>

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <div class="form-error">
                {{ form_errors(form.name) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.firstname) }}
            {{ form_widget(form.firstname) }}
            <div class="form-error">
                {{ form_errors(form.firstname) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.phoneNumber) }}
            {{ form_widget(form.phoneNumber) }}
            <div class="form-error">
                {{ form_errors(form.phoneNumber) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            <div class="form-error">
                {{ form_errors(form.email) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.imageFile) }}
            {{ form_widget(form.imageFile) }}
            <div class="form-error">
                {{ form_errors(form.imageFile) }}
            </div>
        </div>

        <h3>Champs Personnalisés</h3>
        <div id="custom-fields-container">
            {% for customFieldForm in form.customFields %}
                <div class="custom-field-item">
                    {{ form_row(customFieldForm.name) }}
                    {{ form_row(customFieldForm.value) }}
                </div>
            {% endfor %}
        </div>


        <div class="form-group">
            {{ form_row(form.submit) }}
        </div>

        {{ form_end(form, {'render_rest': false}) }}
    </div>

{%  endblock %}