{% extends "base.html.twig" %}

{% block title %} ContactManager - Accueil
{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <h1>Mes contacts</h1>

        <div class="count mt-4">
            <h4>
                Il y a {{ contacts.getTotalItemCount }} contacts au total
            </h4>
        </div>

        <a href="{{ path('contact.new') }}" class="btn btn-primary"> Ajouter un nouveau contact</a>
        
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Photo de profil</th>
                <th scope="col">Nom et Prénom</th>
                <th scope="col">Numéro</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr class="table-primary">
                    <td>
                        {% if contact.imageName %}
                            <img class="profile-image" src="{{ vich_uploader_asset(contact, 'imageFile') }}" alt="Photo de profil">
                        {% else %}
                            <img class="profile-image" src="{{ asset('assets/Default_pfp.jpg') }}" alt="Photo de profil">
                        {% endif %}
                    </td>
                    <td>{{ contact.name }} {{ contact.firstname }}</td>
                    <td>{{ contact.phoneNumber }}</td>
                    <td>
                        {% if contact.email %}
                            {{ contact.email }}
                        {% else %}
                            <p>Pas d'adresse email renseignée</p>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('contact.edit', {'id': contact.id}) }}" class="btn btn-light ">Modifier</a>
                    </td>
                    <td>
                        <a href="{{ path('contact.delete', {'id': contact.id}) }}" class="btn btn-warning"
                           onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce contact ?');">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {# display navigation #}
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(contacts) }}
    </div>
{% endblock %}