{% extends "base.html.twig" %}

{% block title %} ContactManager - Accueil
{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <h1>Mes contacts</h1>

        {% include "components/_search_data.html.twig" with {
            form:form
        } only %}

        <div class="count mt-4">
            <h4>
                Il y a {{ contacts.getTotalItemCount }} contacts au total
            </h4>
        </div>

        <a href="{{ path('contact.new') }}" class="btn btn-primary"> Ajouter un nouveau contact</a>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col"></th> <!-- Colonne pour la flèche -->
                <th scope="col">Photo de profil</th>
                <th scope="col">Nom et Prénom</th>
                <th scope="col">Numéro</th>
                <th scope="col">Email</th>
                <th scope="col"></th> <!-- Modifier -->
                <th scope="col"></th> <!-- Supprimer -->
            </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <!-- Ligne du contact -->
                <tr class="table-primary contact-row">
                    <td>
                        {% if contact.customFields|length > 0 or contact.groups|length > 0 %}
                            <button class="toggle-details-btn">+</button>
                        {% else %}
                            <button class="toggle-details-btn disabled-btn" disabled>+</button>
                        {% endif %}
                    </td>
                    <td>
                        {% if contact.imageName %}
                            <img class="profile-image" src="{{ vich_uploader_asset(contact, 'imageFile') }}" alt="Photo de profil">
                        {% else %}
                            <img class="profile-image" src="{{ asset('assets/Default_pfp.jpg') }}" alt="Photo de profil">
                        {% endif %}
                    </td>
                    <td>{{ contact.name }} {{ contact.firstname }}</td>
                    <td>{{ contact.phoneNumber }}</td>
                    <td>
                        {% if contact.email %}
                            {{ contact.email }}
                        {% else %}
                            <p>Pas d'adresse email renseignée</p>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('contact.edit', {'id': contact.id}) }}" class="btn btn-light ">Modifier</a>
                    </td>
                    <td>
                        <a href="{{ path('contact.delete', {'id': contact.id}) }}" class="btn btn-warning"
                           onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce contact ?');">Supprimer</a>
                    </td>
                </tr>
                <!-- Ligne des champs personnalisés -->
                {% if contact.customFields|length > 0  or contact.groups|length > 0 %}
                    <tr class="group-custom-field-row" style="display: none;">
                        <td colspan="7">
                            <h4>Groupes :</h4>
                            {% for group in contact.groups %}
                                <span>{{ group.name }}</span>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                            <h4>Champs additionnels :</h4>
                            {% for field in contact.customFields %}
                                <div><strong>{{ field.name }}:</strong> {{ field.value }}</div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(contacts) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('displayGroupOrCustomFieldRow') }}
{% endblock %}