{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h1>Ajout d'un contact</h1>

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <div class="form-error">
                {{ form_errors(form.name) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.firstname) }}
            {{ form_widget(form.firstname) }}
            <div class="form-error">
                {{ form_errors(form.firstname) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.phoneNumber) }}
            {{ form_widget(form.phoneNumber) }}
            <div class="form-error">
                {{ form_errors(form.phoneNumber) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            <div class="form-error">
                {{ form_errors(form.email) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.groups) }}
            {{ form_widget(form.groups, {'attr': {'class': 'form-control select2-multiple group-select'}}) }}
            <div class="form-error">
                {{ form_errors(form.groups) }}
            </div>
        </div>

        {{ form_row(form.imageFile) }}

        <div id="image-preview"></div>

        <h3>Champs personnalisés</h3>

        <div id="custom-fields-container"
             data-prototype="{{ form_widget(form.customFields.vars.prototype)|e('html_attr') }}">
        </div>
        <button type="button" id="add-custom-field" class="btn btn-primary">Ajouter un champ personnalisé</button>

        <div class="form-group">
            {{ form_row(form.submit) }}
        </div>

        {{  form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>


{%  endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('addOrRemoveCustomFields') }}
    {{ encore_entry_script_tags('imagePreview') }}
    {{ encore_entry_script_tags('loadSelect2') }}
{% endblock %}